@charset "utf-8";

*{
    overflow-x: hidden;
}

.navbar a.nav-link{
    color: rgb(251, 251, 251) !important;
    font-weight: bolder;
    margin: 0px 10px;
    font-size: 0.8em;
    font-family: 'FredokaOne';
}

.navbar a.nav-link:hover{
    background-color:white;
    border-radius: 3px;
    color: rgb(7, 90, 32)!important;
}




.bg-green{

    background-color: rgba(7, 90, 32, 0.9);
}


.navbar-dark .navbar-toggler{
    color:white !important;
    border-color: white;
}

.navbar-toggler-icon {
    color:white !important;
}


div.logo-principal{
   
   position: relative;
   height: 500px;
   width: 100%; 
   background: url('../img/logo-main.jpg');
   background-attachment: fixed;
   background-size:initial;
   overflow: hidden;
}

.overlay{
    background-color:rgba(0 , 0, 0, 0.5);
    position: relative;
    width: 100%;
    height: 100%;
    
}

.main-text{
    display: block;
    color: white;
    position: relative;
    margin-top: 150px;
    text-align: center;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:50px;
}




                                      /* Informação Principal  */



.main-info{
    position: relative;
}

.main-info-paragraph{
    font-size: 20px;
}

                                         /* Público Alvo */

.public-target{
    background-color:rgb(7, 90, 32);
    height:fit-content;
}

.public-target-card{
    font-size: 20px;
    margin-bottom: 35px;
}



.ps{margin-bottom: 1000px;}




                                    /* Informação Principal 2 */



.main-info-2{
    
}

.main-info-2-paragraph{
    font-size: 20px;
    
}

.img-borded{
    border-radius: 10px;
    cursor: pointer;
}

.img-borded:hover{
    opacity: 0.8;
}



                                        /* Informação Principal 3 */


/* .main-info-3{
   
}  */



                                              /* Palestrantes */

.palestrantes-block{
    /* border: 3px solid black; */
    background-color: rgb(7, 90, 32);
}

.circle{
    border-radius: 50px;
}

.cargo{
    color: aquamarine;
}

                                        /* Ingressos */


.ingressos-block{
    border: 3px solid black;
}

.ingressos-block h3{
    font-size: 40px;
}

.price-card{
    /* border: 3px solid black; */
    background-color: rgb(7, 90, 32);
    border-radius: 15px;
    max-width: 450px;
    margin:10px auto;
    box-shadow: 0px 0px 5px 2px black;
}


.category-text{
    font-size: 1.6em;
    text-shadow: 2px 2px 3px black;
}

.inclusao-span{
    font-size: 1.5em;
    text-shadow: 0px 0px 5px  black;
}

.inclusoes-list{
    color:white;
    font-family: 'FredokaOne';
    font-size: 1.3em;
    text-shadow: 0px 2px 3px black;
    text-decoration: underline;
}

.percent-off{
    box-shadow: 0px 0px 5px black;
    font-size: 30px;
    border: 3px solid white;
    border-radius: 10px;
    width: 300px;
    margin: 60px auto;
    color: white;
    text-shadow: 2px 2px 3px black;
}
                            /* Formatação de preços */
.prices{
    text-align: center;
    font-style: italic;
}

.price-x{
    display: ;
    color: rgb(200, 219, 219);
    font-weight: bolder;
    font-family: 'RussoONe';
    font-size: 1.2em;
}

.price-real{
    display: block;
    color: white;
    font-weight: bolder;
    font-family: 'RussoONe';
    font-size: 2.7em;
    text-shadow: 0px 2px 3px black;
}

.price-vista{
    display: block;
    margin-top: -15px;
    color: white;
    font-weight:normal;
    font-family: 'RussoONe';
    font-size:0.4em;
    text-shadow: 0px 2px 3px black;
}